{% extends 'base2.html' %}

{% block title %}
Questionnaire based on Brain Tumor
{% endblock title %}

{% block body %}

<!-- form -->
<div class="container" style="width: 75%;">

    <form method="POST" action="/brain_tumor">

        {% csrf_token %}
        <h2 class="text-light">Brain Tumor Survey</h2>

        <!-- Question: Have you been diagnosed with a brain tumor? -->
        <label class="mb-2 text-light">Have you been diagnosed with a brain tumor?</label>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="brainTumorDiagnosis" id="brainTumorYes" value="yes">
            <label class="form-check-label text-light" for="brainTumorYes">Yes</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="brainTumorDiagnosis" id="brainTumorNo" value="no">
            <label class="form-check-label text-light" for="brainTumorNo">No</label>
        </div>

        <!-- Mean measurements of the tumor -->
        <label class="mb-2 text-light">Mean measurements of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanRadius" name="meanRadius" placeholder="Mean radius">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanTexture" name="meanTexture" placeholder="Mean texture">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanPerimeter" name="meanPerimeter"
                placeholder="Mean perimeter">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanArea" name="meanArea" placeholder="Mean area">
        </div>

        <!-- Smoothness of the tumor -->
        <label class="mb-2 text-light">Describe the smoothness of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="smoothness" name="smoothness" placeholder="Smoothness">
        </div>

        <!-- Compactness of the tumor -->
        <label class="mb-2 text-light">Mean compactness of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanCompactness" name="meanCompactness"
                placeholder="Mean compactness">
        </div>

        <!-- Concavity of the tumor -->
        <label class="mb-2 text-light">Describe the degree of concavity in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="concavity" name="concavity" placeholder="Degree of concavity">
        </div>

        <!-- Concave points of the tumor -->
        <label class="mb-2 text-light">How many concave points are, on average, present in the tumor?</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="concavePoints" name="concavePoints"
                placeholder="Concave points">
        </div>

        <!-- Symmetry of the tumor -->
        <label class="mb-2 text-light">Describe the symmetry of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="symmetry" name="symmetry" placeholder="Symmetry">
        </div>

        <!-- Fractal dimension of the tumor -->
        <label class="mb-2 text-light">Mean fractal dimension of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="meanFractalDimension" name="meanFractalDimension"
                placeholder="Mean fractal dimension">
        </div>

        <!-- Standard error measurements of the tumor -->
        <label class="mb-2 text-light">Standard error measurements of the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seRadius" name="seRadius"
                placeholder="Standard error of the radius">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="seTexture" name="seTexture"
                placeholder="Standard error of the texture">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="sePerimeter" name="sePerimeter"
                placeholder="Standard error of the perimeter">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="seArea" name="seArea" placeholder="Standard error of the area">
        </div>

        <!-- Smoothness of the standard error -->
        <label class="mb-2 text-light">Describe the standard error of smoothness in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seSmoothness" name="seSmoothness"
                placeholder="Standard error of smoothness">
        </div>

        <!-- Compactness of the standard error -->
        <label class="mb-2 text-light">Describe the standard error of compactness in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seCompactness" name="seCompactness"
                placeholder="Standard error of compactness">
        </div>

        <!-- Concavity of the standard error -->
        <label class="mb-2 text-light">Describe the standard error of concavity in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seConcavity" name="seConcavity"
                placeholder="Standard error of concavity">
        </div>

        <!-- Concave points of the standard error -->
        <label class="mb-2 text-light">How many standard error concave points are, on average, present in the
            tumor?</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seConcavePoints" name="seConcavePoints"
                placeholder="Standard error concave points">
        </div>

        <!-- Symmetry of the standard error -->
        <label class="mb-2 text-light">Describe the standard error of symmetry in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seSymmetry" name="seSymmetry"
                placeholder="Standard error of symmetry">
        </div>

        <!-- Fractal dimension of the standard error -->
        <label class="mb-2 text-light">What is the standard error of the fractal dimension in the tumor?</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="seFractalDimension" name="seFractalDimension"
                placeholder="Standard error of the fractal dimension">
        </div>

        <!-- Worst measurements observed in the tumor -->
        <label class="mb-2 text-light">Worst measurements observed in the tumor:</label>
        <div class="mb-3">
            <input type="text" class="form-control" id="worstRadius" name="worstRadius" placeholder="Worst radius">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="worstTexture" name="worstTexture" placeholder="Worst texture">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="worstPerimeter" name="worstPerimeter"
                placeholder="Worst perimeter">

        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="worstArea" name="worstArea" placeholder="Worst area">
        </div>
        <!-- Smoothness of the worst measurements -->
        <label class="mb-2 text-light">How would you describe the worst (largest) smoothness observed in the
            tumor?</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstSmoothness" name="worstSmoothness"
                placeholder="Worst smoothness">
        </div>
        <!-- Compactness of the worst measurements -->
        <label class="mb-2 text-light">What is the worst (largest) compactness observed in the tumor?</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstCompactness" name="worstCompactness"
                placeholder="Worst compactness">
        </div>
        <!-- Concavity of the worst measurements -->
        <label class="mb-2 text-light">Describe the worst (largest) degree of concavity in the tumor:</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstConcavity" name="worstConcavity"
                placeholder="Worst degree of concavity">
        </div>
        <!-- Concave points of the worst measurements -->
        <label class="mb-2 text-light">How many worst (largest) concave points are, on average, present in the
            tumor?</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstConcavePoints" name="worstConcavePoints"
                placeholder="Worst concave points">
        </div>
        <!-- Symmetry of the worst measurements -->
        <label class="mb-2 text-light">Describe the worst (largest) symmetry observed in the tumor:</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstSymmetry" name="worstSymmetry"
                placeholder="Worst symmetry">
        </div>
        <!-- Fractal dimension of the worst measurements -->
        <label class="mb-2 text-light">What is the worst (largest) fractal dimension observed in the tumor?</label>

        <div class="mb-3">
            <input type="text" class="form-control" id="worstFractalDimension" name="worstFractalDimension"
                placeholder="Worst fractal dimension">
        </div>


        <!-- Submit button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary my-3">SUBMIT</button>
        </div>
    </form>
</div>


{% endblock body %}