{% extends 'base1.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<!-- form -->
<div class="container" style="width: 75%;">

    <form method="POST" action="/contact">

        {% csrf_token %}

        <!-- Name input -->
        <div class="form-outline mb-4">
            <label class="mb-2 text-light" for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name" />
        </div>

        <!-- Email input -->
        <label class="mb-2 text-light" for="email">Email</label>
        <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email address" />
        </div>

        <!-- Feedback/Suggestion input -->
        <label class="mb-2 text-light" for="desc">Tell us about what you want to contact us for...</label>
        <div class="form-outline mb-4">
            <textarea class="form-control" type="textarea" id="content" name="desc" cols="30" rows="5"
                placeholder="Enter Your Feedback/Suggestion"></textarea>
        </div>

        <!-- Submit button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary my-3">SUBMIT</button>
        </div>

    </form>
</div>

{% endblock body %}