{% extends 'base2.html' %}

{% block title %}
Questionnaire based on Emotion
{% endblock title %}

{% block body %}

<!-- form -->
<div class="container" style="width: 75%;">

    <form method="POST" action="/emotion_questionnaire">

        {% csrf_token %}

        <h2 class="text-light">Mental Health Survey</h2>

        <!-- Question 1 -->
        <div class="mb-3">
            <label class="mb-2 text-light" for="age">What is your age?</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="Enter Your Age" />
        </div>

        <!-- Question 2 -->
        <label class="mb-2 text-light" for="gender">Choose your gender.</label>
        <div class="mb-3">
            <select class="form-select" id="gender" name="gender">
                <option selected disabled>Select an option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="nonBinary">Non-binary</option>
            </select>
        </div>

        <!-- Question 3 -->
        <label class="mb-2 text-light" for="selfEmployed">Are you self-employed?</label>
        <div class="mb-3">
            <select class="form-select" id="selfEmployed" name="selfEmployed">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Question 4 -->
        <label class="mb-2 text-light" for="familyHistory">Do you have a family history of mental
            illness?</label>
        <div class="mb-3">
            <select class="form-select" id="familyHistory" name="familyHistory">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Question 5 -->
        <label class="mb-2 text-light" for="mentalHealthInterference">If you have a mental health condition,
            do you feel that interferes with your work?</label>
        <div class="mb-3">
            <select class="form-select" id="mentalHealthInterference" name="mentalHealthInterference">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">May be</option>
            </select>
        </div>

        <!-- Question 6 -->
        <label class="mb-2 text-light" for="companySize">How many employees does your company or
            organization have?</label>
        <div class="mb-3">
            <select class="form-select" id="companySize" name="companySize">
                <option selected disabled>Select an option</option>
                <option value="0-25">0-25</option>
                <option value="26-100">26-100</option>
                <option value="100-500">100-500</option>
                <option value="500-1000">500-1000</option>
                <option value="moreThan1000">More than 1000</option>
            </select>
        </div>

        <!-- Question 7 -->
        <label class="mb-2 text-light" for="remoteWork">Do you work remotely (outside of an office) at least
            50% of the time?</label>
        <div class="mb-3">
            <select class="form-select" id="remoteWork" name="remoteWork">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Question 8 -->
        <label class="mb-2 text-light" for="techCompany">Is your company/organization primarily a
            tech-based?</label>
        <div class="mb-3">
            <select class="form-select" id="techCompany" name="techCompany">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Question 9 -->
        <label class="mb-2 text-light" for="mentalHealthBenefits">Does your employer provide mental health
            benefits?</label>
        <div class="mb-3">
            <select class="form-select" id="mentalHealthBenefits" name="mentalHealthBenefits">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Question 10 -->
        <label class="mb-2 text-light" for="knowMentalHealthCare">Do you know the options for mental health
            care your employer provides?</label>
        <div class="mb-3">
            <select class="form-select" id="knowMentalHealthCare" name="knowMentalHealthCare">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="notSure">Not sure</option>
            </select>
        </div>

        <!-- Question 11 -->
        <label class="mb-2 text-light" for="discussedMentalHealth">Has your employer ever discussed mental
            health as part of an employee wellness program?</label>
        <div class="mb-3">
            <select class="form-select" id="discussedMentalHealth" name="discussedMentalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="dontKnow">Don't know</option>
            </select>
        </div>

        <!-- Question 12 -->
        <label class="mb-2 text-light" for="resourcesLearnMentalHealth">Does your employer provide resources
            to learn more about mental health issues and how to seek help?</label>
        <div class="mb-3">
            <select class="form-select" id="resourcesLearnMentalHealth" name="resourcesLearnMentalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="dontKnow">Don't know</option>
            </select>
        </div>

        <!-- Question 13 -->
        <label class="mb-2 text-light" for="anonymityProtected">Is your anonymity protected if you choose to
            take advantage of mental health or substance abuse treatment resources?</label>
        <div class="mb-3">
            <select class="form-select" id="anonymityProtected" name="anonymityProtected">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="dontKnow">Don't know</option>
            </select>
        </div>

        <!-- Question 14 -->
        <label class="mb-2 text-light" for="medicalLeave">How easy is it for you to take medical leave for a
            mental health condition?</label>
        <div class="mb-3">
            <select class="form-select" id="medicalLeave" name="medicalLeave">
                <option selected disabled>Select an option</option>
                <option value="dontKnow">Don't know</option>
                <option value="veryEasy">Very easy</option>
                <option value="somewhatEasy">Somewhat easy</option>
                <option value="somewhatDifficult">Somewhat difficult</option>
                <option value="veryDifficult">Very difficult</option>
            </select>
        </div>

        <!-- Question 15 -->
        <label class="mb-2 text-light" for="negativeConsequencesMentalHealth">Do you think that discussing a
            mental health issue with your employer would have negative consequences?</label>
        <div class="mb-3">
            <select class="form-select" id="negativeConsequencesMentalHealth" name="negativeConsequencesMentalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">May be</option>
            </select>
        </div>

        <!-- Question 16 -->
        <label class="mb-2 text-light" for="negativeConsequencesPhysicalHealth">Do you think that discussing
            a physical health issue with your employer would have negative consequences?</label>
        <div class="mb-3">
            <select class="form-select" id="negativeConsequencesPhysicalHealth"
                name="negativeConsequencesPhysicalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">May be</option>
            </select>
        </div>

        <!-- Question 17 -->
        <label class="mb-2 text-light" for="discussWithCoworkers">Would you be willing to discuss a mental
            health issue with your coworkers?</label>
        <div class="mb-3">
            <select class="form-select" id="discussWithCoworkers" name="discussWithCoworkers">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="someOfThem">Some of them</option>
            </select>
        </div>

        <!-- Question 18 -->
        <label class="mb-2 text-light" for="discussWithSupervisors">Would you be willing to discuss a mental
            health issue with your direct supervisors?</label>
        <div class="mb-3">
            <select class="form-select" id="discussWithSupervisors" name="discussWithSupervisors">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="someOfThem">Some of them</option>
            </select>
        </div>

        <!-- Question 19 -->
        <label class="mb-2 text-light" for="bringUpInInterviewMentalHealth">Would you bring up a mental
            health issue with a potential employer in an interview?</label>
        <div class="mb-3">
            <select class="form-select" id="bringUpInInterviewMentalHealth" name="bringUpInInterviewMentalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">May be</option>
            </select>
        </div>

        <!-- Question 20 -->
        <label class="mb-2 text-light" for="bringUpInInterviewPhysicalHealth">Would you bring up a physical
            health issue with a potential employer in an interview?</label>
        <div class="mb-3">
            <select class="form-select" id="bringUpInInterviewPhysicalHealth" name="bringUpInInterviewPhysicalHealth">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="maybe">May be</option>
            </select>
        </div>

        <!-- Question 21 -->
        <label class="mb-2 text-light" for="employerTakesMentalHealthSeriously">Do you feel that your
            employer takes mental health as seriously as physical health?</label>
        <div class="mb-3">
            <select class="form-select" id="employerTakesMentalHealthSeriously"
                name="employerTakesMentalHealthSeriously">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="dontKnow">Don't know</option>
            </select>
        </div>

        <!-- Question 22 -->
        <label class="mb-2 text-light" for="observedNegativeConsequences">Have you heard of or observed
            negative consequences for coworkers with mental health conditions in your workplace?</label>
        <div class="mb-3">
            <select class="form-select" id="observedNegativeConsequences" name="observedNegativeConsequences">
                <option selected disabled>Select an option</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        <!-- Submit button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary my-3">SUBMIT</button>
        </div>
    </form>
</div>


{% endblock body %}