{% extends 'base1.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block body %}

<!-- form -->
<div class="container" style="width: 60%;">

    <form method="POST" action="/forgot_password">
        {% csrf_token %}

        <div class="row">

            <!-- Username input -->
            <div class="col-2 form-outline mb-4" style="width: 83%;">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" />
            </div>

            <!-- Search button -->
            <div class="col-2 d-grid gap-2 mb-4">
                <button type="submit" class="btn btn-outline-warning">Search</button>
            </div>
        </div>

        <!-- First Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name"
                readonly />
        </div>

        <!-- Last Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" readonly />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" readonly />
        </div>


        <!-- Security Question input -->
        <div class="form-outline mb-4">
            <input type="text" id="security_question" name="security_question" class="form-control"
                placeholder="Security Question" readonly />
        </div>


        <!-- Security Question Answer input -->
        <div class="form-outline mb-4">
            <input type="text" id="security_question_answer" name="security_question_answer" class="form-control"
                placeholder="Security Question Answer" />
        </div>

        <!-- Retrive button -->
        <div class="d-grid gap-2 mb-4">
            <button type="submit" class="btn btn-outline-danger">Retrive</button>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" readonly />
        </div>


        <!-- Register buttons -->
        <div class="container mt-5 mb-4">
            <p class="d-flex justify-content-center">Already a member?
                <a href="/templates/html/sign_in.html" style="color: blue;">Sign in</a>
            </p>
        </div>
        
    </form>
</div>

{% endblock body %}